@charset "utf-8";
*{padding:0;margin:0;list-style:none; border:0;}

 body{
    font-size: 25px;font-family: cursive;
    box-sizing: border-box; 
     background-color:#fff;
     color:#000;
     background-position: center;
     background-position: relative;
     background-size: cover;
     background-repeat: no-repeat;
    
 }
 

.box .ebfl{ margin:20px;
    padding:10px;
    text-align: center;
    height:200px;
    width:320px;
    box-shadow:0px 0px 10px 2px;
    border-radius: 5px;

}
.box .imgebfl{
    margin:20px;
    padding:10px;
    text-align: center;
    height:200px;
    width:320px;
    box-shadow:0px 0px 10px 2px;
    background: url("ebfl.jpg");
    background-position: center;
    background-position: relative;
    background-size: 100%;
    border-radius: 5px;
}
.box .umfl{
    margin:20px;
    padding:10px;
    text-align: center;
    height:200px;
    width:320px;
    box-shadow:0px 0px 10px 2px;
    border-radius: 5px;
}
.box .imgumfl{ margin:20px;
    padding:10px;
    text-align: center;
    height:200px;
    width:320px;
    box-shadow:0px 0px 10px 2px;
    border-radius: 5px;
    background:url(ulviyematlı.jpg);
    background-position: center;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: 100%;

}
 .box{
   padding:100px;
     margin-top: 40px;
     display:flex;
     position: relative;
     flex-wrap:wrap;
     align-items:center;
     justify-content: center;
     columns: rgb(255, 197, 197);
     background-color:rgb(255, 220, 220);
 }

 .box .saü {
     margin:20px;
     padding:10px;
     text-align: center;
     height:200px;
     width:320px;
     box-shadow:0px 0px 10px 2px;
     border-radius: 5px;
    
 }

 .box .imgsaü{
    margin:20px;
    padding:10px;
    text-align: center;
    height:200px;
    width:320px;
    box-shadow:0px 0px 10px 2px;
    border-radius: 5px;
    background:url(saü.jpg);
    background-position: center;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
 }