@charset "utf-8";
*{padding:0;margin:0;list-style:none; border:0;}

        
          .slider figure img { width:100%;
            float: left; }
          
        .slide{
            padding:10px ;
            background: #fff;
            margin:10px 10px 0 0;
        }
         
        .slide-resim{
            float:left;
            padding:30px;
            width:20%;
            margin:0 10px 10px 0;
        }
         
        .slide-baslik{
            font-family: cursive;
            font-size: 1.6em;
            color:rebeccapurple;
            padding:20px;
       
        }
         
        .slide-ozet{
            margin-top:10px;
            font-family: cursive;
            font-size: 17px;
            color:darkcyan;
            line-height: 1.6em;
            
        }
     
      
         
        
       
          
             